.user-menu {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.user-menu > button {
    margin: 10px;
    width: 50%;
}

.user-menu .btn {
    outline: #269255;
    border: 2px solid #269255;
}

.user-menu .btn a {
    color: #269255;
    padding: 70px 10px;
}

.user-menu .btn:hover {
    background-color: #ffce39;
    box-shadow: 0px 1px 1px #ffce39;
    outline: none;
    border: none;
}

.user-menu a:hover {
    color: white;
}

.progress {
    height: 30px !important;
}

.progress-bar.bar-rent {
    background-color: #7ABA30;
}

.progress-bar.bar-utl {
    background-color: #ffce39;
}

.progress-bar.bar-groc {
    background-color: #f3994a;
}

.progress-bar.bar-subs {
    background-color: #266482;
}
.progress-bar.bar-ent{
    background-color: #6832AD;
}

.progress-bar.bar-din {
    background-color: #F3524A;
}

.progress-bar.bar-shop {
    background-color: #2E8B94;
}

.progress-bar.bar-misc {
    background-color: #AA26A4;
}

.legend {
    list-style: none;
    height: 30px;
    padding: 10px;
    margin: auto;
}
.legend li { 
    float: left; 
    margin-right: 10px;
    padding: 10px; 
}
.legend span {
     border: 1px solid #ccc; 
     float: left; 
     width: 12px; 
     height: 12px; 
     margin: 6px; }

.legend .legend-rent { 
    background-color: #7ABA30;
}
.legend .legend-utl { 
    background-color: #ffce39;
}
.legend .legend-groc { 
    background-color: #f3994a;
}
.legend .legend-subs { 
    background-color: #266482;
}
.legend .legend-ent { 
    background-color: #6832AD;
}
.legend .legend-din { 
    background-color: #F3524A;
}
.legend .legend-shop { 
    background-color: #2E8B94;
}
.legend .legend-misc { 
    background-color: #AA26A4;
}

h3 {
    color: #269255;
}