.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Footer*/
footer {
  margin-top: 0;
  padding: auto;
  background-color: #FEFFFF;
  width: 100%;
  height: 40px;
  bottom: 0;
  position: relative;
}

footer h6{
  float: left;
  text-align: center;
  padding: 10px;
  margin: 5px 2px;
  color: #269255;
}

.svg-inline--fa {
  float: right;
  font-size: 30px;
  color: #269255;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.svg-inline--fa:hover {
  color: #ffce39;
  opacity: 0.7;
}

/*User NavBar */
.profile-header p {
  font-size: 10px;
}

.profile-header img {
  border-radius: 50%;
}

.me-auto {
  text-align: center;
}
#navbarScrollingDropdown::after {
  display: none;
}

.navbar-light {
  background-color: #269255;
  color: white;
}

.navbar-light .navbar-brand, 
.navbar-light .nav-link,
.navbar-light .navbar-toggler{
  color: white !important;
}

.container {
  height: auto;
  padding: 0;
  margin: 0;
}

.nav-link{
  height: 50px;
}

/*User Forms */
.default-form {
  margin: 10px;
  padding: 20px 50px;
  border: 1px solid lightgray;
  background-color: white;
}

.default-form h2,
.default-form p {
  text-align: center;
}

.default-form h2 {
  color:#269255;
}

.btn-success {
  border: none !important;
}

.btn:hover, .btn:focus {
  background-color:  #ffce39 !important;
  border: none;

}
.btn-success:hover, .btn.btn-success:focus{
  background-color:#ffce39 !important;
  box-shadow: 0px 1px 1px #ffce39 !important;
  border: none;
}

input[type="text"],
input[type="date"],
input[type="password"],
select {
  text-align: center;
}

input[type="text"]:focus, 
input[type="password"]:focus,
input[type="date"]:focus,
input[type=""]:focus{
  border-color: #ffce39;
  box-shadow: 0 1px 1px #ffce39;
  outline: none;
}

/* User Menu */ 
.user-menu {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.user-menu > button {
  margin: 10px;
  width: 50%;
}

.user-menu .btn {
  outline: #269255;
  border: 2px solid #269255;
  padding: 0px;
}

.user-menu .btn a {
  color: #269255;
  font-size: 18px;
  font-weight: bold;
  padding: 50px 10px 80px 10px;
}

.user-menu .btn:hover {
  background-color: #ffce39;
  box-shadow: 0px 1px 1px #ffce39;
  outline: none;
  border: none;
}

.user-menu a:hover {
  color: white;
} 

/*User Report */
.progress {
  height: 30px !important;
}

.progress-bar.bar-rent {
  background-color: #7ABA30;
}

.progress-bar.bar-utl {
  background-color: #ffce39;
}

.progress-bar.bar-groc {
  background-color: #f3994a;
}

.progress-bar.bar-subs {
  background-color: #266482;
}
.progress-bar.bar-ent{
  background-color: #6832AD;
}

.progress-bar.bar-din {
  background-color: #F3524A;
}

.progress-bar.bar-shop {
  background-color: #2E8B94;
}

.progress-bar.bar-misc {
  background-color: #AA26A4;
}

.legend {
  list-style: none;
  height: 30px;
  padding: 10px;
  margin: auto;
}
.legend li { 
  float: left; 
  margin-right: 10px;
  padding: 10px; 
}
.legend span {
   border: 1px solid #ccc; 
   float: left; 
   width: 12px; 
   height: 12px; 
   margin: 6px; }

.legend .legend-rent { 
  background-color: #7ABA30;
}
.legend .legend-utl { 
  background-color: #ffce39;
}
.legend .legend-groc { 
  background-color: #f3994a;
}
.legend .legend-subs { 
  background-color: #266482;
}
.legend .legend-ent { 
  background-color: #6832AD;
}
.legend .legend-din { 
  background-color: #F3524A;
}
.legend .legend-shop { 
  background-color: #2E8B94;
}
.legend .legend-misc { 
  background-color: #AA26A4;
}

h3, h4 {
  color: #269255;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fcf9e1;
}

/* min height for small componenet screens*/
.min-height {
  height: 455px;
}

/* Approval buttons */
.btn.approval-btn {
  width: 90px;
}

.btn.btn-success.btn.approval-btn {
  background-color: #269255;
}